/* Generic */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
.boxed{
    max-width: 1120px;
    margin: 0 auto;
}
.small-boxed{
    max-width: 1000px;
    margin: 0 auto;
}
.flex{display: flex;}
.flexColumn{flex-direction: column;}
.justifyCenter{justify-content: center;}
.alignCenter{align-items: center;}
.justifyBetween{justify-content: space-between;}
.wrap{flex-wrap: wrap;}

.text-center{text-align: center;}
.text-left{text-align: left;}

/* .col{padding: 20px;} */
.col10{width: 10%;}
.col20{width: 20%;}
.col30{width: 30%;}
.col40{width: 40%;}
.col50{width: 50%;}
.col60{width: 60%;}
.col65{width: 65%;}

.padTop{padding-top: 75px;}
.padTB{padding:120px 0px ;}
.padTRB{padding: 75px 0px 0px 40px;}
.padTL{
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.padTRB{padding: 50px 40px 0px 0px}

.marTL{ margin: 55px 10px 40px 10px;}

.line-height{line-height: 1rem;}

.text-white{color: white;}

.bg-black{background-color: black;}
.bg-lightblue{background-color: #b4d0e7;}
.bg-blue{background-color: #0061ff;}
.bg-white{background-color: white;}
.bg-magenta{background-color: darkmagenta;}
.bg-gray{background-color: gray;}
/****************************************/
nav a{
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}
.logo-link:hover{
    color: darkgray;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.Logo, .support{
    font-size: 1.2rem;
    padding: 20px;
    align-items: center;
}
.nav-btn{
    font-size: 1.2rem;
    padding: 8px;
    border: 2px solid #0061ff;
    color: white;
    cursor: pointer;
    outline: none;
    box-shadow:-1px 7px 0px -4px rgba(0,0,0,0.31)
}

.nav-btn:hover{
    background-color: blue;
}

.nav-btn:active{
    transform: translateY(4px);
    box-shadow: -1px 7px 0px -4px rgba(0,0,0,0.31)
    background-color: #0061ff
}

.support a{
    text-decoration: none;

}
/* Hero */

main{
    margin-top: 80px;
}
.HeroContainer{
    max-width: 100%;
    height: 600px;
    padding: 50px 200px 0px;
}
h1{
    font-size: 80px;
    color: black;
}

.hero-content{margin-top: 20px;}

.hero-trial, .hero-canc{
    font-size: 15px;
    margin: 20px 0px;
    padding: 5px;
    width: 230px;
}
.hero-trial{
    background-color: #0061ff;
    border: none;
    cursor: pointer;
    outline: none;
    box-shadow: -1px 7px 0px -4px rgba(0,0,0,0.31)
}
.hero-trial:hover{background-color: blue;}

.hero-trial:active{
    transform: translateY(4px);
    background-color: #0061ff;
    box-shadow: -1px 7px 0px -4px rgba(0,0,0,0.31)
}

.hero-canc{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    
}

.hero-canc:hover{
    background-color: lightgray;
    box-shadow: -1px 7px 0px -4px rgba(0,0,0,0.31)
}

.hero-canc:active{
    transform: translateY(4px);
    box-shadow: -1px 7px 0px -4px rgba(0,0,0,0.31)
}

#black{color: black;}

.hero-content a{
    color: white;
    text-decoration: none;
}

.fa-arrow-down{
    color: black;
    transform: scale(2);
    margin-left: 10px;
}

/* Abbonamenti */
.Plane{
    margin-top: 170px;
}
.bus-class{
    font-size: 2.5rem;
    margin-bottom: 80px;}
    
.radio{margin-left: 20px;}

.column-section{
    width: 100%;
}
.cell{
    width: calc(100% / 3);
    height: 59.375rem;
    margin: 50px 50px 50px 0px;
    border: 1px solid black; /*fare una classe*/
}
.custumer{
    border: 1px solid black;
}
#buy{
    text-decoration: underline;
}
.plane-bar{
    width: 50px;
    margin-left: 20px;
}
/* Enterprise */
.Last-Cell{
    margin-top: 50px;
    border: 1px solid black;
    padding: 15px;
}
.contact{
    border: 1px solid black;
}
.column{
    margin: 35px;
}
#solution{
    flex-wrap: wrap;
    margin-top: 60px;
}
/* Entra in contatto */
.partner{
    margin-top: 145px;
    margin-bottom: 160px;
}
.foto > img{
    width: 600px;
    height: 500px;
}
.find-partner{
    padding: 60px;
    font-size: 25px;
}
.txt{
    margin-top: 30px;
    margin-bottom: 35px;
    font-size: 15px;
}
/* Dropbox Business */
.txt-1{
    font-size: 2.5rem;
    margin-bottom: 80px;}
.choice > img{
    width: 300px;
    height: 230px;
}
.choice{
    width: calc(100% / 3);
    height: calc(100% / 2);
}
/* Chtulu Div */

.Chtulhu{
    flex-wrap: nowrap;
    padding-top: 150px;
}
.squared-column{
    width: 33vw;
    height: 33vw;
}
.sponsor{
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
/* Div testo + free trial */

#Fr-Tra{
    font-size: 2.5em;
    margin-left: 140px;
    color: #61082b;
}
.dropBtn{
    width: 295px;
    height: 45px;
    padding: 5px 10px;
    margin-right: 140px;
}
/* FAQ */
.Faq-Title{
    font-size: 2em;
    width: 100%;   
}
.faq-section{
    padding: 40px 0px 40px 0px;
}
.faq-section:hover span > i{
    transform: rotate(180deg);
}
.answer{
    display: none;
}
hr{margin-top: 30px;}
/* Div contenitore nero */
footer{
    width: 100%;
    margin-top: 150px;
}
.footer-column{
    padding: 100px 0px 70px;
}

li{
    list-style: none;
}
.footer-link{
    color: white;
    text-decoration: none;
}
.box h3{
    padding: 5px;
    font-size: 2em;
    color: white;
}
.box{
    height: 220px;
    width: 25%;
    margin: 20px;
}
ul{
    margin-top: 30px;
}
.select{margin: 55px 10px 55px 0px;}

.fa-earth-americas{
    filter: invert(1);
    width: 35px;
    height: 21px;
    margin-left: 10px;
}

div select{
    border: none;
    background-color: black;
    color: white;
    margin-left: 2px;
}